.footer-cont{
    background-color: white;
}

.footer{
    display: flex;
    background-color: #005653;
    padding-top: 3%;
}

.bot-nav{
    display: flex;
    margin-left: 10%;
    
}

.bot-nav-text1{
    color: white;
    border-right: solid 1px white;
    width: 120px;
    height: auto;
    margin-right: 2%;
    margin-bottom: 2%;
}
.bot-nav-text2{
    color: white;
    width: 120px;
    margin-left: 8%;
}

.bot-ads{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.social-media-icon-cont{
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    
}

.social-media-icon{
    margin-right: 20px;
}

.copyright-cont{
    background-color: #005653;
}

.copyright{
    padding-top: 1%;
    background-color: #005653;
    margin-left: 10%;
    margin-right: 40%;
    color: white;
    font-size: 11px;
    padding-bottom: 2%;
}